body{
    width: 100%;
    margin-left: 0;
    background-color: #FAEACD;
}
header{
    display: flex;
}
header img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
h1{
    margin-left: 10px;
    font-size: xx-large;
    font-family: "Playwrite PT";
    color: #7F5539;
}
section {
    display: flex;
    text-align: right;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor{
    width: 100%;
    margin: 0;
}
.nav-bg{
    background-color: #9C6644;
    width: 100%;
}
.navegacion-principal{
    background-color: #9C6644; 
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navegacion-principal a{
    color:#FAEACD; 
    text-decoration: none;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: #DDB892;
    color: #7F5539;
}
.banner-container {
    width: 100%;
    height: 500px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.banner-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}
main{
    margin-bottom: 100px;
}
main h2 {
    text-align: center;
    color: #7F5539;
    font-size: 2.5rem;
}
main a {
    text-align: center;
    color: #7F5539;
    font-size: 2.5rem;
    text-decoration: none;
}
main section img{
    width: 300px;
    height: 300px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 50%;
}
.index p{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: justify;
    margin: 40px;
}

.button a {
    background-color: #9C6644;
    color: #FAEACD;
    padding: 20px;
    margin: 30px 600px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
div .button{
    display: flex;
    justify-content: center;
}
.grid-imagenes{
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    justify-content: center;
}
.producto {
    /* padding: 10px; */
    text-align: center;
}
  
.info-producto {
    /* margin-top: 15px; */
    font-size: 16px;
}
.nombreForm {
justify-content:center ;
} 
select {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 30px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
form {
    width: 300px;
    height: 500px;
    padding: 20px;
    background-color: #f4f1ed;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .formulario input{
    display: block;
    width: 100%;
    margin-bottom: 10px; 
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 10px; 
  }
    input[type="text"],
    input[type="email"] {
    display: block !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    }

  input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
  }
  
  input[type="radio"] + label {
    display: inline-block;
    margin-right: 15px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #7f5345;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  button[type="submit"]:hover {
    background-color: #5f3a34;
  }
  
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  legend {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .formulario div {
    /* margin-bottom: 15px; */
  }

footer {
    display: flex;
    justify-content:space-between;
}
.icons{
    display: flex;
}
footer p{
    margin-left: 20px;
    margin-bottom: 0;
}